h1 {
    color: black;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font: outline;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: /** #3591f3a8; */
    white;
}

#description {
    text-align: center;
}

#radio1 {
    padding-left: 200px !important;
}